%start S

# ###################
# Grammar Productions
# ###################

S[SEM=<app(?vp, ?np)>] -> NP[SEM=?np] VP[SEM=?vp]

VP[SEM=<app(?v, ?np)>] -> V[SEM=?v, TNS=pre] NP[SEM=?np, GND=?gender, NUM=?number]
VP[SEM=<app(?v, ?np)>] -> V[SEM=?v] NP[SEM=?np, GND=?gender, NUM=?number]
VP[SEM=<app(?vp, ?pp)>] -> VP[SEM=?vp] PP[SEM=?pp, GND=?gender, NUM=?number]
VP[SEM=<app(?v, ?pp)>] -> V[SEM=?v, TNS=pre] PP[SEM=?pp, GND=?gender, NUM=?number]
VP[SEM=<app(?v, ?adverbe)>] -> V[SEM=?v, TNS=pre] GADV[SEM=?adverbe]
VP[SEM=?v] -> V[SEM=?v, TNS=pre]

GPRELAT[SEM=?vp] -> PRELAT VP[SEM=?vp]
GPRELAT[SEM=?s] -> PRELAT S[SEM=?s]

GADV[SEM=?np] -> ADV NP[SEM=?np, GND=?gen, NUM=?num]
GADV[SEM=?np] -> ADV PP[SEM=?np]

NP[SEM=?np, GND=?gender, NUM=?number] -> DET[GND=?gender, NUM=?number] NP[SEM=?np, GND=?gender, NUM=?number]
NP[SEM=<app(?relation, ?n)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] GPRELAT[SEM=?relation]
NP[SEM=<app(?adverbe, ?n)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] GADV[SEM=?adverbe]
NP[SEM=<app(?n, ?pp)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] PP[SEM=?pp]
NP[SEM=<app(?n, ?adj)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] ADJ[SEM=?adj, GND=?gender, NUM=?number]
NP[SEM=<app(?n, ?adj)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] ADJ[SEM=?adj, GND=?gender, NUM=?number] PP[SEM=?pp]
NP[SEM=<app(?n, ?adj)>, GND=?gender, NUM=?number] -> ADJ[SEM=?adj, GND=?gender, NUM=?number] NP[SEM=?n, GND=?gender, NUM=?number]
NP[SEM=<app(?pp, ?adj)>, GND=?gender, NUM=?number] -> ADJ[SEM=?adj, GND=?gender, NUM=?number] PP[SEM=?pp, GND=?gender, NUM=?number]
NP[SEM=?n, GND=?gender, NUM=?number] -> ADJ[SEM=?n, GND=?gender, NUM=?number]
NP[SEM=?n, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number]
NP[SEM=?nprop, GND=?gender, NUM=?number] -> NPROP[SEM=?nprop, GND=?gender]

PP[SEM=?np, GND=?gender, NUM=?number] -> PREP[NUM=?number] NP[SEM=?np, GND=?gender, NUM=?number]
PP[SEM=?s] -> PREP[NUM=?number] S[SEM=?s]



# ###################
# Lexical Productions
# ###################

VP[SEM=<app(?vp, ?conjp)>, GND=?gender, NUM=?number] -> VP[SEM=?vp, GND=?gender, NUM=?number] CONJP[SEM=?conjp, NUM=?number] 
CONJP[SEM=?vp, GND=?gender, NUM=?number] -> CONJ[NUM=?number] VP[SEM=?vp, GND=?gender, NUM=?number]
#NP[SEM=<app(?n, ?adj)>, GND=?gender, NUM=?number] -> CONJ[NUM=?number] NP[SEM=?np, GND=?gender, NUM=?number]
#NP[SEM=<app(?n, ?adj)>, GND=?gender, NUM=?number] -> PREP[NUM=?number] NP[SEM=?np, GND=?gender, NUM=?number]

#NP[SEM=<app(?n, ?adj)>, GND=?gender, NUM=?number] -> NP[SEM=?np, GND=?gender, NUM=?number] PP[SEM=?np, GND=?gender, NUM=?number]
#PP[SEM=?np, GND=?gender, NUM=?number] -> NP[SEM=?np, GND=?gender, NUM=?number] CONJ[NUM=?number] NP[SEM=?np, GND=?gender, NUM=?number]

N[SEM=<homme>, GND=m, NUM=sg] -> 'homme'
N[SEM=<services>, GND=m, NUM=pl] -> 'services'
N[SEM=<salade>, GND=f, NUM=sg] -> 'salade'
N[SEM=<garçon>, GND=m, NUM=sg] -> 'garçon'
N[SEM=<montréal>, GND=f, NUM=sg] -> 'montréal'
N[SEM=<fleur>, GND=f, NUM=sg] -> 'fleur'
N[SEM=<brindilles>, GND=f, NUM=pl] -> 'brindilles'
N[SEM=<pelouse>, GND=f, NUM=sg] -> 'escargot'
N[SEM=<soif>, GND=f, NUM=sg] -> 'soif'
N[SEM=<maison>, GND=f, NUM=sg] -> 'maison'
N[SEM=<fauteuil>, GND=m, NUM=sg] -> 'fauteuil'
N[SEM=<galipettes>, GND=f, NUM=pl] -> 'galipettes'
N[SEM=<tapis>, GND=m, NUM=sg] -> 'tapis'
N[SEM=<trampoline>, GND=m, NUM=sg] -> 'trampoline'
N[SEM=<lit>, GND=m, NUM=sg] -> 'lit'
N[SEM=<on>, GND=m, NUM=sg] -> 'on'
N[SEM=<surprises>, GND=f, NUM=pl] -> 'surprises'
N[SEM=<yeux>, GND=m, NUM=pl] -> 'yeux'
N[SEM=<maman>, GND=f, NUM=sg] -> 'maman'
N[SEM=<services>, GND=m, NUM=pl] -> 'services'
NPROP[SEM=<Trotro>, GND=m] -> 'Trotro'

DET[GND=f, NUM=sg] -> 'sa'

PREP[NUM=pl] -> 'des' 
PREP[NUM=sg] -> 'dans' | 'à' | 'et' | 'de' | 'du' |'d' | 'avec'

V[SEM=<\z.\y.\x.rendre(x,y,z)>, TNS=pre] -> 'rends'

NPROP[SEM=<Papa>, GND=m] -> 'papa'
NPROP[SEM=<Maman>, GND=f] -> 'maman'
NPROP[SEM=<Trotro>, GND=m] -> 'trotro'

ADJ[SEM=<malheureux>, GND=m, NUM=sg] -> 'malheureux'
ADJ[SEM=<bleus>, GND=m, NUM=pl] -> 'bleus'
ADJ[SEM=<petit>, GND=m, NUM=sg] -> 'petit'
ADJ[SEM=<moche>, GND=m, NUM=sg] -> 'moche'
ADJ[SEM=<belle>, GND=f, NUM=sg] -> 'belle'

V[SEM=<\y.\x.arroser (x,y)>, TNS=pre] -> 'arrose'
V[SEM=<\y.\x.rendre (x,y)>, TNS=pre] -> 'rends'

V[SEM=<\y.\x.transporter (x,y)>, TNS=pre] -> 'transporte'
V[SEM=<\y.\x.ramasser (x,y)>, TNS=pre] -> 'ramasse'
V[SEM=<\y.\x.avoir (x,y)>, TNS=pre] -> 'ai' | 'as' | 'a' | 'avons' | 'avez' | 'ont'
V[SEM=<\y.\x.rigoler (x,y)>, TNS=pre] -> 'rigole'
V[SEM=<\y.\x.jouer (x,y)>, TNS=pre] -> 'joue'
V[SEM=<\y.\x.faire (x,y)>, TNS=pre] -> 'fait'
V[SEM=<\y.\x.aimer (x,y)>, TNS=pre] -> 'aime'

PREP[NUM=sg] -> 'dans' | 'à' | 'et' | 'de' | 'du' |'d' | 'sur'
PREP[NUM=pl] -> 'des' 

CONJ[NUM=sg] -> 'mais' | 'ou' | 'donc' | 'or' |'ni' | 'car'





ADJ[SEM=<jeune>,GND=m, NUM=sg] -> 'jeune'
ADJ[SEM=<verte>,GND=f, NUM=sg] -> 'verte'
ADJ[SEM=<verts>,GND=m, NUM=pl] -> 'verts'
ADJ[SEM=<vertes>,GND=f, NUM=pl] -> 'vertes'
ADJ[SEM=<domestique>,GND=m, NUM=sg] -> 'domestique'
ADJ[SEM=<domestique>,GND=f, NUM=sg] -> 'domestique'
ADJ[SEM=<domestiques>,GND=m, NUM=pl] -> 'domestiques'
ADJ[SEM=<domestiques>,GND=f, NUM=pl] -> 'domestiques'
ADJ[SEM=<premier>, GND=m, NUM=sg] -> 'premier'
ADJ[SEM=<première>, GND=f, NUM=sg] -> 'première'
ADJ[SEM=<premiers>, GND=m, NUM=pl] -> 'premiers'
ADJ[SEM=<premières>, GND=f, NUM=pl] -> 'premières'

DET[GND=m, NUM=sg] -> 'l' | 'le' | 'un'
DET[GND=f, NUM=sg] -> 'l' | 'la' | 'une'
DET[GND=m, NUM=pl] -> 'les'
DET[GND=f, NUM=pl] -> 'les'

PRELAT -> 'qui'
PRELAT -> 'que'

ADV -> 'comme' | 'juste' | 'toujours'

N[SEM=<animal>, GND=m, NUM=sg] -> 'animal'
N[SEM=<animaux>, GND=m, NUM=pl] -> 'animaux'
N[SEM=<homme>, GND=m, NUM=sg] -> 'homme'
N[SEM=<hommes>, GND=m, NUM=pl] -> 'hommes'
N[SEM=<jus>, GND=m, NUM=sg] -> 'jus'
N[SEM=<jus>, GND=m, NUM=pl] -> 'jus'
N[SEM=<bière>, GND=f, NUM=sg] -> 'bière'
N[SEM=<bières>, GND=f, NUM=pl] -> 'bières'
N[SEM=<licorne>, GND=f, NUM=sg] -> 'licorne'
N[SEM=<licornes>, GND=f, NUM=pl] -> 'licornes'
N[SEM=<eau>, GND=f, NUM=sg] -> 'eau'
N[SEM=<eaux>, GND=f, NUM=pl] -> 'eaux'
N[SEM=<orange>, GND=f, NUM=sg] -> 'orange'
N[SEM=<oranges>, GND=f, NUM=pl] -> 'oranges'
N[SEM=<couleur>, GND=f, NUM=sg] -> 'couleur'
N[SEM=<couleurs>, GND=f, NUM=pl] -> 'couleurs'
N[SEM=<cafe>, GND=m, NUM=sg] -> 'café'
N[SEM=<cafes>, GND=m, NUM=pl] -> 'cafés'
N[SEM=<homme>, GND=m, NUM=sg] -> 'homme'
N[SEM=<hommes>, GND=m, NUM=pl] -> 'hommes'
N[SEM=<licorne>, GND=f, NUM=sg] -> 'licorne'
N[SEM=<licornes>, GND=f, NUM=pl] -> 'licornes'
N[SEM=<maison>, GND=f, NUM=sg] -> 'maison'
N[SEM=<maisons>, GND=f, NUM=pl] -> 'maisons'
N[SEM=<oiseau>, GND=m, NUM=sg] -> 'oiseau'
N[SEM=<oiseaux>, GND=m, NUM=pl] -> 'oiseaux'
N[SEM=<personne>, GND=f, NUM=sg] -> 'personne'
N[SEM=<personnes>, GND=f, NUM=pl] -> 'personnes'
N[SEM=<prince>, GND=m, NUM=sg] -> 'prince'
N[SEM=<princes>, GND=m, NUM=pl] -> 'princes'
N[SEM=<the>, GND=m, NUM=sg] -> 'thé'
N[SEM=<thes>, GND=m, NUM=pl] -> 'thés'


N[SEM=<corde>,GND=f, NUM=sg] -> 'corde'
N[SEM=<vache>,GND=f, NUM=sg] -> 'vache'
N[SEM=<Allemand>, GND=m, NUM=sg] -> 'Allemand' | 'allemand'
N[SEM=<Allemande>, GND=f, NUM=sg] -> 'Allemande' | 'allemande'
N[SEM=<Allemands>, GND=m, NUM=pl] -> 'Allemands' | 'allemands'
N[SEM=<Allemandes>, GND=f, NUM=pl] -> 'Allemandes' | 'allemandes'
N[SEM=<Anglais>, GND=m, NUM=sg] -> 'Anglais' | 'anglais'
N[SEM=<Anglaise>, GND=f, NUM=sg] -> 'Anglaise' | 'anglaise'
N[SEM=<Anglais>, GND=m, NUM=pl] -> 'Anglais' | 'anglais'
N[SEM=<Anglaises>, GND=f, NUM=pl] -> 'Anglaises' | 'anglaises'
N[SEM=<chat>, GND=m, NUM=sg] -> 'chat'
N[SEM=<chatte>, GND=f, NUM=sg] -> 'chatte'
N[SEM=<chats>, GND=m, NUM=pl] -> 'chats'
N[SEM=<chattes>, GND=f, NUM=pl] -> 'chattes'
N[SEM=<voisin>, GND=m, NUM=sg] -> 'voisin'
N[SEM=<voisine>, GND=f, NUM=sg] -> 'voisine'
N[SEM=<voisins>, GND=m, NUM=pl] -> 'voisins'
N[SEM=<voisines>, GND=f, NUM=pl] -> 'voisines'
N[SEM=<celui>, GND=m, NUM=sg] -> 'celui'
N[SEM=<celle>, GND=f, NUM=sg] -> 'celle'
N[SEM=<ceux>, GND=m, NUM=pl] -> 'ceux'
N[SEM=<celles>, GND=f, NUM=pl] -> 'celles'
N[SEM=<propriétaire>, GND=m, NUM=sg] -> 'propriétaire'
N[SEM=<propriétaires>, GND=m, NUM=pl] -> 'propriétaires'
N[SEM=<propriétaire>, GND=f, NUM=sg] -> 'propriétaire'
N[SEM=<propriétaires>, GND=f, NUM=pl] -> 'propriétaires'
N[SEM=<cheval>, GND=m, NUM=sg] -> 'cheval'
N[SEM=<jument>, GND=f, NUM=sg] -> 'jument'
N[SEM=<chevaux>, GND=m, NUM=pl] -> 'chevaux'
N[SEM=<juments>, GND=f, NUM=pl] -> 'juments'
N[SEM=<chien>, GND=m, NUM=sg] -> 'chien'
N[SEM=<chienne>, GND=f, NUM=sg] -> 'chienne'
N[SEM=<chiens>, GND=m, NUM=pl] -> 'chiens'
N[SEM=<chiennes>, GND=f, NUM=pl] -> 'chiennes'
N[SEM=<gauche>, GND=m, NUM=sg] -> 'gauche'
N[SEM=<droite>, GND=m, NUM=sg] -> 'droite'
N[SEM=<centre>, GND=m, NUM=sg] -> 'centre'
N[SEM=<côté>, GND=m, NUM=sg] -> 'côté'

# Pronom
N[SEM=<il>, GND=m, NUM=sg] -> 'il'

PREP[NUM=sg] -> 'dans' | 'à' | 'et' | 'de' | 'du' |'d' | 'avec'
PREP[NUM=pl] -> 'des' 

V[SEM=<\y.\x.tuer (x,y)>, TNS=pastp] -> 'tua'
V[SEM=<\y.\x.jouer (x,y)>, TNS=pre] -> 'joue'
V[SEM=<\y.\x.avoir (x,y)>, TNS=pre] -> 'ai' | 'as' | 'a' | 'avons' | 'avez' | 'ont'
V[SEM=<\y.\x.boire (x,y)>, TNS=pre] -> 'bois' | 'boit'
V[SEM=<\y.\x.etre (x,y)>, TNS=pre] -> 'suis' | 'es' | 'est' | 'sommes' | 'êtes' | 'sont'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pre] -> 'fume' | 'fumes'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pre] -> 'habite' | 'habites'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pre] -> 'vis' | 'vit'
V[SEM=<\y.\x.boire (x,y)>, TNS=pastp, GND=m, NUM=sg] -> 'bu'
V[SEM=<\y.\x.boire (x,y)>, TNS=pastp, GND=f, NUM=sg] -> 'bue'
V[SEM=<\y.\x.boire (x,y)>, TNS=pastp, GND=m, NUM=pl] -> 'bus'
V[SEM=<\y.\x.boire (x,y)>, TNS=pastp, GND=f, NUM=pl] -> 'bues'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pastp, GND=m, NUM=sg] -> 'fumé'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pastp, GND=f, NUM=sg] -> 'fumée'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pastp, GND=m, NUM=pl] -> 'fumés'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pastp, GND=f, NUM=pl] -> 'fumées'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pastp, GND=m, NUM=sg] -> 'habité'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pastp, GND=f, NUM=sg] -> 'habitée'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pastp, GND=m, NUM=pl] -> 'habités'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pastp, GND=f, NUM=pl] -> 'habitées'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pastp, GND=m, NUM=sg] -> 'vécu'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pastp, GND=f, NUM=sg] -> 'vécue'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pastp, GND=m, NUM=pl] -> 'vécus'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pastp, GND=f, NUM=pl] -> 'vécues'